body {
    padding: 30px
}

.site-header {
    height: 50px;
}

li {
    display: inline-block;
    position: relative;
    top: -45px;
    left: 200px;
}

a {
    color:rgb(66, 175, 66);
    padding: 5px;
    text-decoration: none;
    background-color: green;
    color:whitesmoke;
    border-radius: 5px;
    
}

a:hover {
    background-color: lightgrey;
    color: rgb(66, 175, 66);
    transition-duration: 0.7s;
    opacity: 0.5;
}

article {
    border-top: 3px solid;
}