body {
    font-family: Helvetica, sans-serif ;
    font-size:16px;
    line-height: 1.5;
    padding: 10px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Georgia,serif;
}

blockquote {
    border-left: rgb(221,221,221);
    font-style: italic;
}
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 0.1px solid;
}

th {
    background-color: lightgray;
    text-align: start;

}

span {
    margin-left: 100%;
    font-style: italic;
}
